.filter-bar {
  padding: 10px;
}

.filter-bar .root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
}

.filter-bar .MuiInput-underline {
  padding-left: 8px;
}

.filter-bar .MuiInput-underline:before,
.filter-bar .MuiInput-underline:after {
  display: none;
}

.form {
  display: block;
}
.result-message-success ul {
  position: absolute;
  display: flex;
  overflow: visible;
  background-color: white;
  justify-content: left;
  z-index: 999;
}


.list-item {
  height: 60px;
}

.image{
  align-items: left;
  justify-content: left;
  text-align: left;
}

.image img {
  margin: auto 20px auto -30px;
  width: 100px;
  height: auto;
}