.filter-bar {
  padding: 10px;
}

.filter-bar .root {
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.input {
  flex: 1;
}

.filter-bar .MuiInput-underline {
  padding-left: 8px;
}

.filter-bar .MuiInput-underline:before,
.filter-bar .MuiInput-underline:after {
  display: none;
}

.form{
  display: block;
}

.result-message {
  top: 150px;
  margin-top: 50px;
  font-size: 20px;
  padding-top: 20px;
  color: black;
  background-color: white;
  position: relative;
  z-index: 999;
}

.filterbar .result-message .image img{
  max-width: 50px;
}